---
layout: page
title: About
subtitle: Just another blog
permalink: /about/
---

<h2>About this Blog</h2>
<p>Blog about AI, machine learning, linguistics, causal inference, and cognitive science. </p>
	<p><ul class="about-list">
		<li><i class="fa fa-rss"></i><a href="{{ site.url }}{{ site.baseurl }}/feed.xml"> Rss</a></li>
	</ul></p>

<h2>About me</h2>
<p>Second year doctoral student in computer science. </p>
    <p><ul class="about-list">
		<li>
			<i class="fa fa-twitter"></i><a href="https://twitter.com/{{ site.twitter_username }}"> Twitter</a>
		</li>
		<li>
			<i class="fa fa-github"></i><a href="https://github.com/{{ site.github_username }}"> Github</a>
		</li>
	</ul></p>

	{% if site.skillstree %}
	{% include skillstree.html %}
	{% endif %}
